#homepage{
    background-image: url("homepage.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    align-content: center;
    position: relative;
    margin-top: 56px;
}
.jadwal{
    /* background-image: url("ladang.jpg"); */
    height: 90.5vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    align-content: center;
    text-align: center;
    position: relative;
    margin-top: 56px;
}


/* .contact-backdrop{
    align-items: center;
    z-index: -1;
    top: 50%;
    max-height: 200px;
    max-width: 750px;
    background-color: #D9904E;
    opacity: 0.8;
    display: inline-block;
} */
.containers {
    align-content: center;
    width: 100%;
    position: absolute;
    top: 35%;
    /* left: 15%; */
}
.home-text {
    text-align: center;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
    margin-top: 8vh;
    opacity: 1.0;
}
.home-text > h1,h2{
    opacity: 1.0;
}
.backdrop{
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translate(0, -50%);
    height: 30vh;
    width: 65vw;
    background-color: #D9904E;
    opacity: 0.8;
    display: inline-block;
    margin-left: 17.5vw;
}
.h1-title{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
#profile{
    padding-top: 56px;
    text-align: center;
    background-color: #FFEFC7;
    min-height:100vh;
}
#skills{
    padding-top: 56px;
    text-align: center;
    background-color: #FFEFC7;
    min-height: 100vh;
}
.profileset{
    font: 28px;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.container-about {
    /* display: flex; */
    flex-direction: column;
    /* padding: 10px; */
    width: 100%;
}
.container-experiences {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    width: 100%;
}
.profile-title{
    font: 30px;
}
.pasfoto{
    width: 200px;
    margin-bottom: 100px;
    border-radius: 30px;
}
#experiences{
    padding-top: 56px;
    text-align: center;
    background-color: #FFECAA;
    min-height:100vh;
}
.unchecked{
    color: gray;
}
.experiences-set{
    margin-top: 1.25em;
}
.experiences-title{
    font-size: 2.25em;
    font-weight: bold;
}
.experiences-item{
    font-size: 1.5em;
}
.experiences-time{
    font-size: 1em;
}
.experiences-desc{
    font-size: 1.125em;
}
.skill-table{
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-top: 50px
}
.row{
    margin-bottom: 20px;
    margin-right: 50px;
}
td{
    font-size: 24px;
    width: 10vw;
    margin-top: 10px;
}
.contact-logo{
    width: 50px;
    height: 50px;
}
.contact-table{
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
body > div {
    min-height: 80vh;
}
#contact{
    background-image: url("about.jpg");
    min-height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;

}
#contact-card {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 5vw;
}
@media screen and (max-width: 600px) {
    td{
        font-size: 1rem;
        width: 5vw;
        margin-top: 10px;
    }
    #contact-card {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 0 3vw;
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
    }
    body{
        font-size: 1rem;
    }
    tr td {
        min-width: 100px;
    }
}
.form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2vh; 
}
.form-name{
    text-align: left;
    /* width: 5vw;  */
    padding-top: 0.3rem;   
}
.container-name{
    min-width: 18%;
}
.form-input{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 1rem;
}
.tabel-head{
    padding-top:56px;
    
}
.tabel{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.tabel-isi{
    width: 25vw;
}
.tabel-delete{
    width: 5vw;
}