{% extends 'base.html' %}
{% load static %}


{% block body %}
    <div class="jadwal">
        <h1 class="h1-title">Buat Jadwal</h1>
        <form action="{% url 'Story_5:jadwal' %}" method="POST">
            {% csrf_token %}
            <!-- <div class="form">
                <div class="container-name">
                <p class="form-name">Nama        </p>
                <p class="form-name">Tempat      </p>
                <p class="form-name">Kategori    </p>
                <p class="form-name">Hari        </p>
                <p class="form-name">Tanggal     </p>
                <p class="form-name">Waktu       </p>
                </div>
                <div class="form-input">
                    <input type="text" name="form.nama.name" id="form.nama.id_for_label"/>
                    <input type="text" name="form.tempat.name" id="form.tempat.id_for_label"/>
                    <input type="text" name="form.kategori.name" id="form.kategori.id_for_label"/>
                    <input type="text" name="form.hari.name" id="form.hari.id_for_label"/>
                    <input type="date" name="form.tanggal.name" id="form.tanggal.id_for_label"/>
                    <input type="time" name="form.waktu.name" id="form.waktu.id_for_label"/>
                </div>
            </div> -->
            {{ form.as_p}}
            <input type="submit" value="Submit"/>        
        </form>
    </div>
{% endblock body %}
    
