{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="tabel-head">
        <div class="tabel">
            <div class="tabel-isi">Nama</div>
            <div class="tabel-isi">Tempat</div>
            <div class="tabel-isi">Kategori</div>
            <div class="tabel-isi">Tanggal</div>
            <div class="tabel-isi">Waktu</div>
        </div>
        {% for jadwal in jadwals %}
        <div class="tabel">
            <div class="tabel-isi">{{jadwal.nama}}</div>
            <div class="tabel-isi">{{jadwal.tempat}}</div>
            <div class="tabel-isi">{{jadwal.kategori}}</div>
            <div class="tabel-isi">{{jadwal.tanggal}}</div>
            <div class="tabel-isi">{{jadwal.waktu}}</div>
            <div class="tabel-delete"><a href="{% url 'Story_5:delete' jadwal.id %}" title=''>Delete</a></div>
        </div>
        {%endfor%}
        
    </div>
{% endblock body %}
    