{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="experiences">
        <h1 class="h1-title"><u>Experiences</u></h1>
        <div class="container-experiences"> 
            <div class="experience-set container-experiences">               
                    <span class="experiences-title"><h2>Education</h2></span>
                    <span class="experiences-item experience-set">Universitas Indonesia</span>
                    <span class="experiences-time">2018 - Present</span>
                    <span class="experiences-item experience-set">SMAN 8 Jakarta</span>
                    <span class="experiences-time">2015 - 2018</span>
            </div>
            <div class="experience-set container-experiences">
                    <span class="experiences-title"><h2>Organization and Comittee</h2></span>
                    <span class="experiences-item experience-set">DPM Fasilkom UI</span>
                    <span class="experiences-time">February 2019 - Present</span>
                    <span class="experiences-desc">as staff at Legal Comission</span>
                    <span class="experiences-item experience-set">FUKI Fasilkom UI</span>
                    <span class="experiences-time">February 2019 - Present</span>
                    <span class="experiences-desc">as staff at Islamic Learning Center Department</span>
                    <span class="experiences-item experience-set">Pemira IKM Fasilkom UI</span>
                    <span class="experiences-time">September 2019 - Present</span>
                    <span class="experiences-desc">as vice person in charge at Verification and Supervision division</span>
                    <span class="experiences-item experience-set">COMPFEST 11</span>
                    <span class="experiences-time">February 2019 - Present</span>
                    <span class="experiences-desc ">as staff at Innovative App Competition</span>
                    <span class="experiences-item experience-set">MTQ UI</span>
                    <span class="experiences-time">September 2019 - Present</span>
                    <span class="experiences-desc">as staff at Musabaqah Hifzhil Quran division</span>
            </div>
        </div>
    </div>    
{% endblock body %}
    
