{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div id="profile">
    <h1 class="h1-title"><u>Profile</u></h1>
    <h2>"An energic, beginner developer"</h2>
    <div>
        <div class="profileset">
            <div class="container-about">
                    <span><h3>Biodata:</h3></span>
                    <span>Full Name: Luqman Maulana Rizki</span>
                    <span>Birth Date: 21 May 2000</span>
                    <span>Location: Indonesia</span>
            </div>
            <div class="container-about">
                <div class="container-about">
                    <img class="pasfoto" src="{% static 'pasfoto.png' %}" alt="Luqman"/>
                </div>
            </div>
            <div  class="container-about">
                    <h3>About Me:</h3>
                        <p>Seorang mahasiswa Fasilkom UI yang tinggal di kosan daerah Kukusan Kelurahan. Mencoba menyelesaikan setiap tugasnya dengan baik. </p>
            </div>
        </div>
    </div> 
    </div>
{% endblock body %}
    
